@import '../../../node_modules/react-md/src/scss/react-md';
@import '../../../node_modules/react-md/dist/react-md.indigo-pink.min.css';

$md-primary-color: $md-indigo-500 !default;
$md-secondary-color: $md-pink-a-200 !default;

.md-avatar--color {
  background: $md-primary-color !important;
  color: #fff !important;
}

.user-balance {
  padding-top: 5px;
  width: 200px;
}

.pad-left {
  padding-left: 10px;
}

@include react-md-everything;
